.row{
    background-color: rgb(205, 205, 205) ;
}

.col-3{
    background-color: rgb(255, 254, 254);
}

.title-main{
    color: blue;
    font-size: 60px;
    font-family: "Montserrat", sans-serif
}

.title-secundary{
    font-family: "Montserrat", sans-serif;
    color: #64210b;
}